<ul>
    <li>
        <a href="#sparkbase">
            <span class="stepDesc">
                Step 1<br />
                <small>Spark app properties</small>
            </span>
        </a>
    </li>
    <li>
        <a href="#workflow">
            <span class="stepDesc">
                Step 2<br />
                <small>Workflow properties</small>
            </span>
        </a>
    </li>
</ul>
<div id="sparkbase">
    <div class="form">
        <div class="form-group">
            <label>App Name</label>
            <input type="text" class="form-control form-control-sm" data-bind="value:AppName">
            <small class="form-text text-muted">The name of spark app</small>
        </div>

        <div class="form-group">
            <label>File Type</label>
            <select data-bind="options: FileTypes,
                       optionsText: 'Text',
                       optionsValue:'Value',
                       value: FileType" class="form-control form-control-sm"></select>
            <small class="form-text text-muted">The file type for hdfs data</small>
        </div>

        <div class="form-group">
            <label>File Path</label>
            <input type="text" class="form-control form-control-sm" data-bind="value:FilePath">
            <small class="form-text text-muted">The file path of hdfs data</small>
        </div>

        <div class="form-group">
            <label>Schema String</label>
            <input type="text" class="form-control form-control-sm" data-bind="value:SchemaString">
            <small class="form-text text-muted">The schema string of hdfs data (Recommanded if file type is csv)</small>
        </div>

        <div class="form-group">
            <label>Temp Table</label>
            <input type="text" class="form-control form-control-sm" data-bind="value:TempTable">
            <small class="form-text text-muted">The alias name of hdfs data for spark sql</small>
        </div>
        <div class="form-group">
            <label>Sql Query</label>
            <input type="text" class="form-control form-control-sm" data-bind="value:SqlQuery">
            <small class="form-text text-muted">The spark sql query would applied on hdfs data</small>
        </div>
        <div class="form-group">
            <label>Jdbc Url</label>
            <input type="text" class="form-control" data-bind="value:JdbcUrl">
            <small class="form-text text-muted">The database jdbc url of result data</small>
        </div>
        <div class="form-group">
            <label>Export Table</label>
            <input type="text" class="form-control form-control-sm" data-bind="value:ExportTable">
            <small class="form-text text-muted">The export table name of result data</small>
        </div>


        <div class="row">
            <div class="col text-right">
                <button type="button" class="btn btn-primary" data-bind="click:applyChanges.bind(this,'sparkbase')">Save & Continue</button>
            </div>
        </div>
    </div>

</div>
<div id="workflow">
    <div class="form-group">
        <label>Workflow Name</label>
        <input type="text" class="form-control form-control-sm" data-bind="value:WorkflowName">
        <small class="form-text text-muted">The name of the workflow</small>
    </div>

    <div class="form-group">
        <label>Trigger Path</label>
        <input type="text" class="form-control form-control-sm" data-bind="value:TriggerPath">
        <small class="form-text text-muted">The relative path to start the workflow</small>
    </div>

    <div class="row">
        <div class="col text-right">
            <button type="button" class="btn btn-primary" data-bind="click:applyChanges.bind(this,'workflow')">Apply & Review</button>
        </div>
    </div>
</div>