@using System.Security.Claims
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>aZaaS & Elsa Workflow</h1>

@if (User.Identity.IsAuthenticated)
{
    <h2>
        Welcome,  <b> @User.Identity.Name </b>
        <a href="/Home/Logout" target="_self">LogOut</a>
    </h2>
    <ul>
        @foreach (var item in User.Claims)
        {
            <li>@item.Type - @item.Value</li>
        }
    </ul>



}
<img src="~/templates/sqoopbase/img.png" />


@section Scripts{

}

